@{
    Layout = "~/Views/Shared/_LayoutAgent.cshtml";

}
@model RealEstate.Models.ViewModels.PostViewModels
<div class="container">
    @using (Html.BeginForm("CreatePost", "Agent", FormMethod.Post,new {enctype = "multipart/form-data"}))
    {

        <div class="bg-white p-4 mb-4">
            <p class="text-primary fw-bold">I. Thông tin cơ bản</p>
            <div class="row">
                <div class="col-6">
                    <div class="  d-flex align-items-center justify-content-between   mb-4">
                        <div class="col-3 ">
                            <label class="form-label">
                                Tên dự án
                            </label>
                        </div>
                        <div class="col-9">
                            @Html.TextBoxFor(m =>m.TenDuAn, null,new {@placeholder="Nhập tên dự án" ,@class="form-control"})
                            @Html.ValidationMessageFor(m =>m.TenDuAn,"",new {@class ="text-danger small"})

                        </div>
                    </div>

                    <div class="  d-flex align-items-center justify-content-between   mb-4">
                        <div class="col-3 ">
                            <label class="form-label">
                                Loại BĐS*
                            </label>
                        </div>
                        <div class="col-9">
                            @Html.DropDownList("LoaiBDS", (SelectList)ViewBag.Type, "-- Chọn loại BĐS --", new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.LoaiBDS, "", new { @class = "text-danger small" })

                        </div>
                    </div>
                    <div class="  d-flex align-items-center justify-content-between   mb-4">
                        <div class="col-3 ">
                            <label class="form-label">
                                Tỉnh/Thành phố*
                            </label>
                        </div>
                        <div class="col-9">
                            <select name="ProvinceCode" id="provinceSelect" class="form-select">
                                <option value="value">-- Chọn Thành Phố --</option>
                                @foreach (var item in ViewBag.Provinces)

                                {
                                    <option value="@item.code">@item.name</option>

                                }
                            </select>
                            @Html.ValidationMessageFor(m => m.ProvinceCode, "", new { @class = "text-danger small" })

                        </div>
                    </div>
                    <div class="  d-flex align-items-center justify-content-between   mb-4">
                        <div class="col-3 ">
                            <label class="form-label">
                                Quận/Huyện*
                            </label>
                        </div>
                        <div class="col-9">
                            <select name="DistrictCode" id="districtSelect" class="form-select" disabled>
                                <option value="value">-- Chọn Quận/Huyện --</option>
                                @foreach (var item in ViewBag.Districts)

                                {
                                    <option value="@item.code">@item.name</option>

                                }
                            </select>
                            @Html.ValidationMessageFor(m => m.DistrictCode, "", new { @class = "text-danger small" })

                        </div>
                    </div>
                    <div class="  d-flex align-items-center justify-content-between   mb-4">
                        <div class="col-3 ">
                            <label class="form-label">
                                Xã/Phường
                            </label>
                        </div>
                        <div class="col-9">
                            <select name="WardCode" id="wardSelect" class="form-select" disabled>
                                <option value="value">-- Chọn Xã/Phường --</option>
                                @foreach (var item in ViewBag.Wards)

                                {
                                    <option value="@item.code">@item.name</option>

                                }
                            </select>
                            @Html.ValidationMessageFor(m => m.WardCode, "", new { @class = "text-danger small" })

                        </div>
                    </div>
                    <div class="  d-flex align-items-center justify-content-between   mb-4">
                        <div class="col-3 ">
                            <label class="form-label">
                                Đường phố
                            </label>
                        </div>
                        <div class="col-9">
                            <input type="text" class="form-control" name="StreetName" value="" placeholder="Nhập tên đường phố" />
                            @Html.ValidationMessageFor(m => m.StreetName, "", new { @class = "text-danger small" })

                        </div>
                    </div>
                    <div class="  d-flex align-items-center justify-content-between   mb-4">
                        <div class="col-3 ">
                            <label class="form-label">
                                Địa chỉ
                            </label>
                        </div>
                        <div class="col-9">
                            <input type="text" class="form-control" placeholder="Nhập địa chỉ" name="AddressDetail" value="" />
                            @Html.ValidationMessageFor(m=>m.AddressDetail ,"",new {@class = "text-danger small"})
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div id="map" style="height: 450px; width: 100%; border-radius: 10px;"></div>
                    <button id="btnCurrentLocation" type="button" class="btn btn-sm btn-outline-primary mt-2">
                        📍 Lấy vị trí hiện tại của tôi
                    </button>
                    <input type="hidden" id="latitude" name="Latitude" />
                    <input type="hidden" id="longitude" name="Longitude" />
                </div>

            </div>


        </div>
        <div class="bg-white p-4 mb-4">
            <p class="text-primary fw-bold">
                II. Thông tin mô tả
            </p>
            <div class="row">
                <div class="col-6">
                    <div class="  d-flex align-items-center justify-content-between   mb-4">
                        <div class="col-3 ">
                            <label class="form-label">
                                Giá tiền (VNĐ)*
                            </label>
                        </div>
                        <div class="col-9 d-flex justify-content-between ">
                            <div class="col-3">
                                <input type="number" class="form-control" name="GiaMin" value="" placeholder="Giá Min" />
                            </div>
                            <div class="col-3">
                                <input type="number" class="form-control" name="GiaMax" value="" placeholder="Giá Max" />
                            </div>
                            <div class="col-3">
                                <input type="text" class="form-control" name="DonViGia" value="" placeholder="Triệu , Tỷ " />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="  d-flex align-items-center justify-content-between   mb-4">
                        <div class="col-3 ">
                            <label class="form-label">
                                Diện tích (m2)*
                            </label>
                        </div>
                        <div class="col-9 d-flex justify-content-between ">
                            <div class="col-3">
                                <input type="number" class="form-control" name="DienTichMin" value="" placeholder="Diện tích Min" />
                            </div>
                            <div class="col-3">
                                <input type="number" class="form-control" name="DienTichMax" value="" placeholder="Diện tích Max" />
                            </div>
                            <div class="col-3">
                                <input type="text" class="form-control" name="DonViDienTich" value="" placeholder="m2 , m3" />
                            </div>
                        </div>


                    </div>

                </div>





            </div>

            <div class="  d-flex   justify-content-between   mb-4">
                <div class="col-1" style="margin-right:50px">
                    <label class="form-label">
                        Mô tả*
                    </label>
                </div>

                <div class="w-100 h-50">
                    <textarea id="editor1" name="MoTa">@ViewBag.Content</textarea>

                    @Html.ValidationMessageFor(m => m.MoTa, "", new { @class = "text-danger small" })


                </div>

            </div>



        </div>

        <div class="bg-white p-4 mb-4">
            <p class="text-primary fw-bold">
                III. Thông tin hình ảnh
            </p>

            <div class="mb-3">
                <label class="form-label">
                    * Up ít nhất 3 ảnh cho bài đăng để đạt hiệu quả tốt hơn
                </label>
            </div>

            <div id="dropZone" class="border p-4 text-center rounded mb-2" style="min-height: 200px;">
                <p class="text-secondary mb-3">
                    Tin đăng có hình ảnh thường hiệu quả hơn 59% tin đăng không có hình ảnh.
                </p>
                <div id="image-post" class="d-flex">


                </div>
                <input id="imageInput"
                       type="file"
                       accept="image/*"
                       name="ImageUrls"
                       multiple
                       hidden />

                <button type="button"
                        class="btn btn-outline-primary px-4 mt-3"
                        onclick="document.getElementById('imageInput').click()">
                    THÊM ẢNH
                </button>

            </div>

            <div id="imagePreviewContainer" class="d-flex flex-wrap mt-3">
            </div>

            <p class="text-danger small mt-2">
                * Lưu ý: Ảnh tải lên không được là ảnh sao chép trên Internet, không chứa logo, thông tin của website khác,
                kích thước ảnh tối thiểu 300 x 300px
            </p>
        </div>



        <div class="d-flex justify-content-center mt-3">
            <button type="submit" class="btn btn-primary me-2">Đăng tin</button>

        </div>
    }

</div>
@section scripts {
    <script src="https://cdn.tiny.cloud/1/kx77sij2dvxtzmlriaqeroor4p6s6t2k96kubu8bjs7d6zbp/tinymce/8/tinymce.min.js" referrerpolicy="origin" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script>
        tinymce.init({
            selector: 'textarea',
            plugins: [
                // Core editing features
                'anchor', 'autolink', 'charmap', 'codesample', 'emoticons', 'link', 'lists', 'media', 'searchreplace', 'table', 'visualblocks', 'wordcount',
                // Your account includes a free trial of TinyMCE premium features
                // Try the most popular premium features until Nov 14, 2025:
                'checklist', 'mediaembed', 'casechange', 'formatpainter', 'pageembed', 'a11ychecker', 'tinymcespellchecker', 'permanentpen', 'powerpaste', 'advtable', 'advcode', 'advtemplate', 'ai', 'uploadcare', 'mentions', 'tinycomments', 'tableofcontents', 'footnotes', 'mergetags', 'autocorrect', 'typography', 'inlinecss', 'markdown', 'importword', 'exportword', 'exportpdf'
            ],
            toolbar: 'undo redo | blocks fontfamily fontsize | bold italic underline strikethrough | link media table mergetags | addcomment showcomments | spellcheckdialog a11ycheck typography uploadcare | align lineheight | checklist numlist bullist indent outdent | emoticons charmap | removeformat',
            tinycomments_mode: 'embedded',
            tinycomments_author: 'Author name',
            mergetags_list: [
                { value: 'First.Name', title: 'First Name' },
                { value: 'Email', title: 'Email' },
            ],
            ai_request: (request, respondWith) => respondWith.string(() => Promise.reject('See docs to implement AI Assistant')),
            uploadcare_public_key: '97d038c425905e6e43e4',
        });
    </script>

    <script>

        $(document).ready(function () {
            const map = L.map('map').setView([10.762622, 106.660172], 13); // Mặc định HCM
            let marker = L.marker([10.762622, 106.660172]).addTo(map);

            L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                maxZoom: 19,
                attribution: '&copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a>'
            }).addTo(map);

            function setMarker(lat, lng, zoom = 14) {
                if (marker) marker.setLatLng([lat, lng]);
                else marker = L.marker([lat, lng]).addTo(map);
                map.setView([lat, lng], zoom);
                $('#latitude').val(lat);
                $('#longitude').val(lng);
            }

            map.on('click', function (e) {
                setMarker(e.latlng.lat, e.latlng.lng);
            });

            $('#btnCurrentLocation').click(function () {
                if (navigator.geolocation) {
                    navigator.geolocation.getCurrentPosition(
                        function (pos) {
                            setMarker(pos.coords.latitude, pos.coords.longitude);
                        },
                        function (err) {
                            alert('Không thể lấy vị trí hiện tại: ' + err.message);
                        }
                    );
                } else {
                    alert('Trình duyệt không hỗ trợ định vị.');
                }
            });

            function searchLocation(address) {
                if (!address || address.trim() === '') return;

                $.ajax({
                    url: 'https://nominatim.openstreetmap.org/search',
                    data: {
                        format: 'json',
                        limit: 1,
                        q: address
                    },
                    headers: {
                        'Accept-Language': 'vi',
                        'User-Agent': 'RealEstateApp/1.0 (your-email@example.com)'
                    },
                    success: function (data) {
                        if (data && data.length > 0) {
                            const lat = parseFloat(data[0].lat);
                            const lon = parseFloat(data[0].lon);
                            setMarker(lat, lon);
                        }
                    },
                    error: function () {
                        console.warn('Không thể truy vấn vị trí cho địa chỉ:', address);
                    }
                });
            }

            $('input[placeholder="Nhập địa chỉ"]').on('blur', function () {
                const fullAddress = $(this).val();
                if (fullAddress.trim() !== '') searchLocation(fullAddress);
            });
            $('#provinceSelect, #districtSelect, #wardSelect').change(function () {
                const provinceText = $('#provinceSelect option:selected').text();
                const districtText = $('#districtSelect option:selected').text();
                const wardText = $('#wardSelect option:selected').text();

                const fullAddress = [wardText, districtText, provinceText]
                    .filter(x => x && x !== "Nhập tên Thành Phố" && x !== "Nhập tên Quận/Huyện" && x !== "Nhập tên Xã/Phường")
                    .join(', ');

                console.log("fullAddress", fullAddress)
                if (fullAddress) searchLocation(fullAddress);

            });

            // === LOAD HUYỆN / XÃ THEO AJAX ===
            $('#provinceSelect').change(function () {
                const provinceCode = $(this).val();
                $('#districtSelect').html('<option value="">-- Chọn Quận/Huyện --</option>');
                if (provinceCode) {
                    $.getJSON('/Agent/Districts', { provinceCode: provinceCode }, function (data) {
                        $.each(data, function (i, item) {
                            $('#districtSelect').append($('<option>', {
                                value: item.code,
                                text: item.name
                            }));
                        });
                    });
                    $('#districtSelect').attr('disabled', false);

                }

            });

            $('#districtSelect').change(function () {
                const districtCode = $(this).val();
                $('#wardSelect').html('<option value="">-- Chọn Xã/Phường --</option>');
                if (districtCode) {
                    $.getJSON('/Agent/Wards', { districtCode: districtCode }, function (data) {
                        $.each(data, function (i, item) {
                            $('#wardSelect').append($('<option>', {
                                value: item.code,
                                text: item.name
                            }));
                        });
                    });
                    $('#wardSelect').attr('disabled', false);

                }
            });

        });

    </script>




    <script>


        const imageInput = document.querySelector("#imageInput");
        const imagePost = document.querySelector("#image-post");


        let selectedFiles = [];

        
        imageInput.addEventListener("change", (e) => {
            const files = Array.from(e.target.files);
            if (files.length > 7) {
                alert("Vui lòng tải không vượt quá 7 ảnh");
                return;
            }
            selectedFiles.push(...files);
            renderPreview();
        }
        )
          function renderPreview() {
        imagePost.innerHTML = ""; // Xóa khung trước

        selectedFiles.forEach((file, index) => {
            const url = URL.createObjectURL(file);

            const div = document.createElement("div");
            div.style.cssText = "width:140px;height:140px;margin:10px;position:relative;";

            const img = document.createElement("img");
            img.src = url;
            img.classList.add("w-100", "h-100", "rounded", "object-fit-cover");

            const i = document.createElement("i");
            i.classList.add(
                "fa-solid",
                "fa-xmark",
                "position-absolute",
                "d-flex",
                "justify-content-center",
                "align-items-center",
                "rounded-circle"
            );
            i.style.cssText = `
                width: 25px;
                height: 25px;
                top: 5px;
                right: 5px;
                background-color: rgba(255,0,0,0.8);
                color: white;
                cursor: pointer;
                font-size: 14px;
                z-index: 10;
            `;

            i.addEventListener("click", () => {
                selectedFiles.splice(index, 1); 
                renderPreview();  
            });

            div.appendChild(img);
            div.appendChild(i);
            imagePost.appendChild(div);
        });
    }
               
             
        

        


         


       

         
    </script>




}

