@model List<RealEstate.Models.ViewModels.PropertyViewModel>

@{
    ViewBag.Title = "Tin của tôi";
    Layout = "~/Views/Shared/_LayoutAgent.cshtml";

}

<h2 class="mb-3">Tin của tôi</h2>

@if (ViewBag.Message != null)
{
    <div class="alert alert-info">@ViewBag.Message</div>
}
else
{
    <table class="table table-striped table-bordered">
        <thead class="table-dark">
            <tr>
                <th>Tiêu đề</th>
                <th>Giá</th>
                <th>Diện tích</th>
                <th>Trạng thái</th>
                <th>Ngày đăng</th>
                <th>Hành động</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Title</td>
                    <td>@String.Format("{0:N0}", item.PriceMin) - @String.Format("{0:N0}", item.PriceMax) @item.PriceUnit</td>
                    <td>@item.AreaMin - @item.AreaMax @item.AreaUnit </td>
                    <td>
                        @if (item.Status == "Pending")
                        {
                            <span class="badge bg-warning text-dark">Chờ duyệt</span>
                        }
                        else if (item.Status == "Active")
                        {
                            <span class="badge bg-success">Đã duyệt</span>
                        }
                        else
                        {
                            <span class="badge bg-danger">Từ chối</span>
                        }
                    </td>
                    <td>@string.Format("{0:dd/MM/yyy}", item.CreatedAt)</td>
                    <td>
                        <a href="@Url.Action("MyPostDetail", "Agent", new { id = item.Id })" class="btn btn-sm btn-primary">
                            Xem
                        </a>
                        <a href="@Url.Action("EditPost", "Agent", new { id = item.Id })" class="btn btn-sm btn-warning">
                            Sửa
                        </a>
                        <a href="@Url.Action("DeletePost", "Agent", new { id = item.Id })" class="btn btn-sm btn-danger"
                           >
                            Xóa
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
